<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>User Inventory Details</title>
</head>
<body>
  <form method="POST" action="/users/<%= user._id %>?_method=DELETE" class="delete-form">
    <button type="submit">Delete User</button>
  </form>
  <h1><%= user.userName %>'s Inventory</h1>
  <ul>
    <% user.things.forEach(thing => { %>
      <li>
        <form action="/users/<%= user._id %>/edit?_method=DELETE" method="POST">
          <%= thing %>
          <input type="hidden" name="things" value="<%= thing %>">
          <button type="submit" id="remove-button">❌</button>
        </form>
      </li>  
    <% }) %>
  </ul>
  <form autocomplete="off" action="/users/<%= user._id %>?_method=PUT" method="POST">
    <input placeholder="type here to add" required type="text" name="things">
    <button type="submit">Add to Inventory</button>
  </form>
  <br>
  <a href="/users">Back</a>
</body>
</html>